@inherits LayoutComponentBase

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <div class="main">
        <div class="content px-4 container">
                <img src="images/banner.jpg" style="margin-left: 200px" />
            @Body
        </div>
    </div>
</div>
